.Boxing {
    display: flex;
    justify-content: space-between;
}

.outer {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.slider {
    display: flex;
    transition: .3s ease-out;
}

.slideBtn {
    border: none;
    background-color: rgba(100, 100, 100, 0);
    color: #646464;
}