.Boxing {
    display: flex;
    justify-content: space-between;
    border: 1px solid #73CEBE;
}

.Logo {
    border: 1px solid #73CEBE;
}

.Mode {
    border: 1px solid #73CEBE;
}

li {
    list-style: none;
    float: left;
    border: 1px solid #73CEBE;
}