.submitBtn {
    border: none;
    margin: 5px;
    width: 40px;
    line-height: 25px;
    border-radius: 25px;
    background-color: rgba(115, 206, 190, 0.7);
    color: white;
    /* background-color: white; */
    /* color: #646464; */
    font-weight: bold;
    float: right;
}

.submitBtn:hover {
    cursor: pointer;
    opacity: 0.5;
}